<tr>
	<td><%= credential.team.name  %></td>
	<td><%= credential.description  %></td>
	<td><%= credential.username  %></td>
	<!-- Since the pass is a very large chunk of text (although it's encrypted), is better to show it in a separate view. -->
	<td>******<%#= credential.pass  %></td>
	<td><%= credential.owner.name+" "+credential.owner.lastname  %></td>
	<td><%= credential.created_at  %></td>
	<td><%= credential.updated_at  %></td>
	<td><%= link_to user_credential_path(user_id:@user, id:credential), class: "btn btn-info" do %>
		<i class="fa-regular fa-eye"></i>
		<% end %>
	</td>
</tr>