<tr>
	<td><%= credential.team.name  %></td>
	<td><%= credential.description  %></td>
	<td><%= credential.username  %></td>
	<td><%= credential.encrypted_for_id  %></td>
	<td><%= credential.owner.name  %></td>
	<td><%= credential.created_at  %></td>
	<td><%= credential.updated_at  %></td>
	<td><%= link_to "Show", user_credential_path(user_id:@user, id:credential) %></td>
</tr>