<%= form_with(model: credential, url: user_credentials_path) do |form| %>
  <% if credential.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(credential.errors.count, "error") %> prohibited this credential from being saved:</h2>

      <ul>
        <% credential.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- credential's fields -->
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :pass %>
    <%= form.text_field :pass %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%  if !(@user.nil?) %>
      <%= form.label :user_owner %>
      <input type="text" disabled="true" value="<%= @user.name+" "+@user.lastname %>">
      <%= form.text_field :owner_id, hidden: "true"%>
    <% end %>
  </div>
  <div>
    <%= form.label :team %>
    <!-- shows all teams -->
    <%#= form.collection_select :team_id, Team.all, :id, :name %>
    <!-- only shows current user teams -->
    <%= form.select :team_id, @user.teams.map { |e| [e.name, e.id] } %>

  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
