<p style="color: green"><%= notice %></p>

<table>
  <tr>
    <th>Team</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @credential.team.name  %></td>
    <td><%= @credential.description  %></td>
  </tr>
  <tr>
    <th>Username</th>
    <th>Owner</th>
  </tr>
  <tr>
    <td><%= @credential.username  %></td>
    <td><%= @credential.owner.name+" "+@credential.owner.lastname  %></td>
  </tr>
  <tr>
    <th colspan="2">Password (encrypted) <a href="#" onclick="copyToClipboard('pass');">Copy to clipboard</a></th>
  </tr>
  <tr>
    <td colspan="2">
      <textarea id="pass" class="textArea_key"><%= @credential.pass  %></textarea></td>
  </tr>
  <tr>
    <th>Created</th>
    <th>Updated</th>
  </tr>
  <tr>
    <td><%= @credential.created_at  %></td>
    <td><%= @credential.updated_at  %></td>
  </tr>
</table>
<div>
  <%#= link_to "Edit this credential", edit_credential_path(@credential) %>
  <%= link_to "Back to credentials", user_credentials_path(@user) %>
  <%= button_to "Delete this credential", [@user, @credential], method: :delete %>
</div>
