<p style="color: green"><%= notice %></p>

<table>
  <tr>
    <th>Team</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @credential.team.name  %></td>
    <td><%= @credential.description  %></td>
  </tr>
  <tr>
    <th>Username</th>
    <th>Owner</th>
  </tr>
  <tr>
    <td><%= @credential.username  %></td>
    <td><%= @credential.owner.name+" "+@credential.owner.lastname  %></td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
    <th colspan="2">Password (Encrypted) <a href="#" onclick="copyToClipboard('pass');">Copy to clipboard</a></th>
  </tr>
  <tr>
    <td colspan="2">
      <textarea id="pass" class="textArea_key"><%= @credential.pass  %></textarea>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <a href="#" onclick="showDecControls();">Decrypt this pass</a>
      <div id="decryptControls" style="display: none;"><br>
        <label for="file-input" class="file-upload">Select your privateKey (TXT, KEY)</label>
        <input type="file" id="file-input" onchange="handleFileSelect()" accept=".txt,.key" style="opacity: 0;"><br><br>
        <textarea id="privateKey" class="textArea_key" onchange="handleFileSelect()" style="display: none;"></textarea><br>
        <a href="#" id="go_btn" onclick="pgpDecrypt('passphrase', '<%= @user.email  %>');" style="display: none;">Go!</a>
      </div>
    </td>
  </tr> 
  <tr>
    <th colspan="2">
      <div id="copyBtn" style="display: none;">
        Password (Decrypted) <a href="#" onclick="copyToClipboard('passDecrypted');">Copy to clipboard</a>
      </div>
    </th>
  </tr>
  <tr>
    <td colspan="2">
      <textarea id="passDecrypted" class="textArea_key" style="display: none;"></textarea>
    </td>
  </tr>
  <tr>
    <th>Created</th>
    <th>Updated</th>
  </tr>
  <tr>
    <td><%= @credential.created_at  %></td>
    <td><%= @credential.updated_at  %></td>
  </tr>
</table>
<div>
  <%#= link_to "Edit this credential", edit_credential_path(@credential) %>
  <%= link_to "Back to credentials", user_credentials_path(@user) %>
  <%= button_to "Delete this credential", [@user, @credential], method: :delete %>
</div>
