<h1 class="mt-4">Public GPG Keys</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Administrator</li>
</ol>

  <%= render @user %>

<div class="card mb-4">
  <div class="card-body">
    <% unless @user.gpg_key_id? %> <!-- the user has no GPG key -->
    <h5 class="card-title">Generate a new keypair:</h5>
    <%= link_to "Create new GPG Key for this user", "#", onclick: "pgpGenerateKey('#{ @user.fullname }', '#{ @user.email }', 'passphrase')", class: "btn btn-primary" %>
      <%= form_with url: admin_users_gpg_update_path(@user) do |form| %>
      <br>
      <h5 class="card-title">Generated Public Key</h5>
      <%= link_to "#", onclick: "copyToClipboard('pubKey');", class: "btn btn-info", title: "Copy to clipboard" do %>
      <i class="fa-solid fa-copy" alt="copy"></i>
      <% end %>
      <div>
        <%= form.text_area :pubKey, class: "font-monospace form-control shadow", placeholder: "Your public key will be displayed here" %>
      </div>
      <br>
        <%= form.submit value: "Update GPG Key", class: "btn btn-primary" %>
      <% end %>
      <br>
      <h5 class="card-title">Generated Private Key</h5>
      <%= link_to "#", onclick: "copyToClipboard('privKey');", class: "btn btn-info", title: "Copy to clipboard" do %>
      <i class="fa-solid fa-copy" alt="copy"></i>
      <% end %>
      <div>
        <textarea id=privKey placeholder="Your private key will be displayed here" class="font-monospace form-control shadow"></textarea>
      </div>
    <% else %> <!-- the user has a GPG key -->
      <h5 class="card-title">GPG Certificate</h5>
      <%= link_to "#", onclick: "copyToClipboard('pubKey');", class: "btn btn-info", title: "Copy to clipboard" do %>
      <i class="fa-solid fa-copy" alt="copy"></i>
      <% end %>
      <div>
        <textarea id=pubKey placeholder="Your public key will be displayed here" class="font-monospace form-control shadow"><%= @user.gpg_key.gpg_public_key %></textarea>
      </div>
      <%= button_to admin_users_gpg_destroy_path(@user), method: :delete, class: "btn btn-danger" do %>
      <i class="fa-solid fa-triangle-exclamation"></i>
      Delete GPG Key for this user
      <% end %>
    <% end %>
  </div>
</div>
<div class="card mb-4">
  <div class="card-body">
    <h3>Security Alert for Users</h3>

    <% unless @user.gpg_key_id? %>
      <%= image_tag "warning.png", alt: "Warning Sign", class: "sign-image" %>
      <p><strong>Important:</strong> The public key you are viewing will only be displayed once. It is crucial that you keep this key in a safe place, as you will need it to decrypt passwords in the future. If you lose the public key, you will not be able to access the encrypted information later.
      </p>
    <% end %>

    <p>The public and private keys provided to you are for your personal and non-transferable use only. To ensure the security of your data, follow these recommendations:</p>
    <ol>
      <li><strong>Secure Storage:</strong> Store both passwords in a secure location that is difficult for others to access. The use of secure password managers or encrypted storage devices is recommended.</li>
      <li><strong>Do Not Share:</strong> Never share your private key with anyone. The private key is the only way to access encrypted information and must be kept absolutely secret.</li>
      <li><strong>Backup:</strong> Make backup copies of both keys and store them in different locations to prevent loss due to hardware failure or unauthorized access.</li>
      <li><strong>Controlled Access:</strong> Make sure that only you have access to the devices or platforms where you store the keys. Use multi-factor authentication (MFA) for additional security.</li>
      <li><strong>Regular Update:</strong> Regularly review and update your storage and security methods to ensure you are using the best practices available.</li>
    </ol>
    <div>
      <%= image_tag "information.png", alt: "Information Sign", class: "sign-image" %>
      <p class="text-decoration-underline">Your responsibility in the secure handling of these keys is critical to protecting the integrity and confidentiality of your encrypted data.</p>
    </div>
  </div>
</div>
<%= link_to "Back", admin_user_path(@user), class: "btn btn-info" %>