<tr>
    <td><%= team.name %></td>
    <td><%= team.description %></td>
    <td><%= time_tag team.created_at %></td>
    <td><%= time_tag team.updated_at %></td>
    <td><%= team.owner.name+" "+team.owner.lastname %></td>
    <td>
		<%= link_to edit_admin_team_path(team), class: "btn btn-info" do %>
			<i class="fa-solid fa-pen-to-square"></i>
		<% end %>
		<%= link_to admin_team_path(team), class: "btn btn-info" do %>
			<i class="fa-regular fa-eye"></i>
		<% end %>
    </td>
</tr>
