<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
  <%= link_to "Edit this team", edit_admin_team_path(@team), class: "btn btn-primary" %>
  <%= link_to "Back to teams", admin_teams_path, class: "btn btn-info" %>
  <%= button_to "Destroy this team", admin_team_path(@team), method: :delete, class: "btn btn-danger" %>
</div>
