<!DOCTYPE html>
<html>
  <head>
    <title>HivePassGuard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%- if @page_libs&.include?(:openpgp) %>
      <%= javascript_include_tag 'openpgp', 'data-turbo-track': 'reload', defer: true %>
    <% end -%>
    <%- if @page_libs&.include?(:pgpKeyGenerate) %>
      <%= javascript_include_tag 'pgpKeyGenerate', 'data-turbo-track': 'reload', defer: true %>
    <% end -%>
    <%- if @page_libs&.include?(:pgpKeyDecrypt) %>
      <%= javascript_include_tag 'pgpKeyDecrypt', 'data-turbo-track': 'reload', defer: true %>
    <% end -%>
  </head>

  <body>
    <div class="container">
        <div class="content-box">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
