<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "HivePassGuard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Collaborative password sharing platform" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%- if @page_libs&.include?(:openpgp) %>
      <%= javascript_include_tag 'openpgp', 'data-turbo-track': 'reload', defer: true %>
    <% end -%>
    <%- if @page_libs&.include?(:pgpKeyGenerate) %>
      <%= javascript_include_tag 'pgpKeyGenerate', 'data-turbo-track': 'reload', defer: true %>
    <% end -%>
    <%- if @page_libs&.include?(:pgpKeyDecrypt) %>
      <%= javascript_include_tag 'pgpKeyDecrypt', 'data-turbo-track': 'reload', defer: true %>
    <% end -%>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
          <%= render 'layouts/navigation' %>
        </header>
        <main role="main">
           <%= render 'layouts/messages' %>
           <%= yield %>
        </main>
      </body>

    <!--<div class="container">
        <div class="content-box">
          
          <p class="notice"><%#= notice %></p>
          <p class="alert"><%#= alert %></p>
           
          <%#= yield %>
        </div>
      </div>-->

  </body>
</html>
