<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "HivePassGuard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Collaborative password sharing platform" %>">
    <meta charset="utf-8" />
    <meta name="author" content="Edgardo Marti" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'scripts', 'data-turbo-track': 'reload', defer: true %>    
    <%= javascript_include_tag 'all', 'data-turbo-track': 'reload', defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%- if @page_libs&.include?(:openpgp) %>
      <%= javascript_include_tag 'openpgp', 'data-turbo-track': 'reload', defer: true %>
    <% end -%>
    <%- if @page_libs&.include?(:pgpKeyGenerate) %>
      <%= javascript_include_tag 'pgpKeyGenerate', 'data-turbo-track': 'reload', defer: true %>
    <% end -%>
    <%- if @page_libs&.include?(:pgpKeyDecrypt) %>
      <%= javascript_include_tag 'pgpKeyDecrypt', 'data-turbo-track': 'reload', defer: true %>
    <% end -%>
    <%= javascript_importmap_tags %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <%= link_to 'Hive Pass Guard', root_path, class: "navbar-brand ps-3" %>
        <% if user_signed_in? %>
        <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <% end %>
        <!-- Navbar Search-->
        <% unless user_signed_in? %>
            <div class="col-auto d-md-inline-block ms-auto me-0 me-md-3 my-2 my-md-0">
                <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary", role: "button" %>
                <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-secondary", role: "button" %>
        <% end %>
            </div>
        <% if user_signed_in? %>
            <!-- Navbar-->
        <div class="ms-auto ms-md-0 me-3 me-lg-4 ms-lg-auto ms-md-auto">
            <ul class="navbar-nav">
                <div class="text-secondary align-content-center"><%= current_user.name+" "+current_user.lastname %></div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <%= render 'layouts/nav_links_for_auth' %>
                    </ul>
                </li>
            </ul>
        </div>
        <% end %>
    </nav>
    <div id="layoutSidenav">
    <% if user_signed_in? %>
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <% if current_user.try(:admin?) %>
                            <!-- Nav Item - for admin only -->
                            <div class="sb-sidenav-menu-heading">Admin</div>
                            <%= link_to admin_dashboard_path, class: "nav-link" do %>
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            <% end %>
                            <%= link_to admin_users_path, class: "nav-link" do %>
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                                Users management
                            <% end %>
                            <%= link_to admin_teams_path, class: "nav-link" do %>
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-people-group"></i></div>
                                Teams management
                            <% end %>
                        <% end %>
                        <!-- Nav Item - for signed-in users only -->
                        <div class="sb-sidenav-menu-heading">Manage</div>
                        <%= link_to user_teams_path(current_user), class: "nav-link" do %>
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-people-group"></i></div>
                            Teams
                        <% end %>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-key"></i></div>
                            Credentials
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <%= link_to  user_credentials_path(current_user), class: "nav-link" do %>
                                    Shared
                                <% end %>
                                <%= link_to  user_private_credentials_path(current_user), class: "nav-link" do %>
                                    Private
                                <% end %>
                            </nav>
                        </div>
                    </div>
                </div>
            </nav>
        <% end %>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4 pb-5">
                    <%= render 'layouts/messages' %>
                    <%= yield %>
                </div>
            <br /><br />
            </main>
            <footer class="py-4 bg-light mt-auto bottom-0 w-100">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Hive Pass Guard - Universidad de Mendoza 2024</div>
                        <div>
                            <%= link_to 'About', about_path, class: "me-4" %>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
  </body>
</html>
